body {
    background-color: #F0F0F0;
    padding-inline: 5%;
}

input {
    display: block;
    margin: 2px 0 15px;
}

section {

    margin-top: 5%;
}

.container {
    margin: 3%;
    padding-block: 3%;
    border-radius: 5%;
}

#input-box .container {
    background-color: lightgray;
}

.red-text {
    color: #B70000;
}

.yellow-text {
    color: #B98A00;
}

.green-text {
    color: #006A08;
}

#input-box .info {
 margin-top: 2%;
 text-transform: uppercase;
}

#input-box label {
    font-size: 1.15rem;
    margin-bottom : 0;
}

#input-box span {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 5px;
    align-items: center;
    font-weight: bold;
}

#result-box {
    position: relative;
    display: none;
    background-color: #f8f8f8;
    border-radius: 5%;
    margin :  auto 10px 5%;
}

#result {
    font-size: 1.25rem;
    margin-block: 2%;
}

#reset-button {
    position: absolute;
    display: inherit;
    margin-top: 3%;
    right: 10px;
    bottom:0;
}