body {
    background-color: #F0F0F0;
    padding-inline: 5%;
}

input {
    display: block;
    margin: 2px 0 15px;
}

section {

    margin-top: 5%;
}

.container {
    margin: 3%;
    padding-block: 3%;
    border-radius: 5%;
}

#input-box .container {
    background-color: lightgray;
}

.red-text {
    color: #B70000;
}

.yellow-text {
    color: #B98A00;
}

.green-text {
    color: #006A08;
}

#input-box label {
    font-weight: bold;
}

#input-box span {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 5px;
    align-items: center;
    font-weight: bold;
}

#result-box .container {
    min-height: 500px;
    background-color: #f8f8f8;
    border-radius: 5%;
}

#result {
    font-size: 1.25rem;
}